*{
    box-sizing: border-box;
}

body,html{
    margin:0px;
}


.tools{
    background: aliceblue;
    height: 100px;
}

.content{
    height: calc(100vh - 100px);
    background: white;
}

#canvas{
    /* height: 100%;
    width: 100%;
    background: cadetblue; */
}